body{
    font-family: sans-serif;
    color: #000;
}
.btn_add{
    color: #Faf;
    text-decoration: none;
    background: linear-gradient(#F00 10%,#00F 90%);
    padding: 3px;
    border-radius: 3.675px;
}
.btn_add:hover{
    background:linear-gradient(rgb(243, 73, 73), rgb(75, 75, 250) );

}
